@using EasyCRM.Models.ViewModels;
@model IEnumerable<ProductReportVM>;
@{
    ViewData["Title"] = "CustomerReport";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>

    <table widht="100%">
        <tr>

            <th>CompanyName</th>
            <th>CustomerName</th>
            <th>ProductName</th>
            <th>QueryDescription</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.companyName</td>
                <td>@item.customerName</td>
                <td>@item.productName</td>
                <td>@item.QueryDescription</td>

            </tr>

        }
    </table>



</body>
</html>
