@model EasyCRM.Models.ViewModels.StaffVM;
@using (Html.BeginForm("SaveStaff", "Staff", FormMethod.Post))
{
    <div class="form-horizontal form-label-left">
        <div class="form-group">
            @Html.HiddenFor(x => x.StaffId)
            <label> Staff Name</label>
            <input type="text" asp-for="StaffName" required class="form-control"/>
        </div>
        

        <label> Staff Address</label>
        <input type="text" asp-for="StaffAddress" required />

        <label> Staff City</label>
        <input type="text" asp-for="StaffCity" required />

        <label> Staff phone</label>
        <input type="text" asp-for="StaffPhone" required />

        <input type="submit" value="Save" />
    </div>
}